

body {
    min-height: 100vh;
    background-image: url(img/fond1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.weather-app {
   
    color: #fff;
}